version: "3.8"

services:
  quizbot:
    build: .
    environment:
      TOKEN: ${TOKEN}
    restart: unless-stopped
    volumes:
      - datos_usuarios:/app/users
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  datos_usuarios:
