version: "3.8"

services:
  quizbot:
    build: .
    environment:
      TOKEN: ${TOKEN}
      SERVIR_ARCHIVOS_PUBLICOS: ${SERVIR_ARCHIVOS_PUBLICOS:-0}
      PUERTO_ARCHIVOS_PUBLICOS: ${PUERTO_ARCHIVOS_PUBLICOS:-8000}
      RUTA_ARCHIVOS_PUBLICOS: /app/users/publicos
    restart: unless-stopped
    volumes:
      - datos_usuarios:/app/users
    ports:
      - "8000:8000"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  datos_usuarios:
